/* @font-face {
    font-family: 'DMSans-Bold';
    src: url('DMSans-Bold.ttf') format('ttf'),
         url('DMSans-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

} */


@font-face {
    font-family: "DMSans-Bold";
    src: url("../fonts/DMSans-Bold.ttf")
}




@font-face {
    font-family: 'montserratlight';
    src: url('montserrat-light-webfont.woff2') format('woff2'),
         url('montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'DMSans-Medium';
    src: url('../fonts/DMSans-Medium.ttf') format('ttf'),
         url('DMSans-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'DMSans-Regular';
    src: url('../fonts/DMSans-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('../fonts/Rubik-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('../fonts/Rubik-Medium.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'montserratsemibold';
    src: url('montserrat-semibold-webfont.woff2') format('woff2'),
         url('montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}